body {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(249, 247, 242);
    color: rgb(69, 57, 47);
    font-size: 20px;    
}
/* 헤더 영역 */  
.header {
    display:flex;
    justify-content: space-between;
    background-color: rgb(227, 206, 226);
    color: rgb(143, 184, 218);
    height: 68px;
    align-items: center;
    padding: 0 28px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

main {
  margin-top: 72px;
}

.nav-menu {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-list {
  display: inline;
}

#nav-contact {
  background-color: rgb(249, 247, 242);
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  border-radius: 10px;
  border: 2px solid rgb(143, 184, 218);
}

#nav-contact:hover {
  background-color:aliceblue
}

#nav-contact:active {
  background-color: rgb(202, 218, 235);
}
/* 자기소개 섹션 */

/*텍스트 컬러*/
.text-color-default {
  color: rgb(69, 57, 47);
}
.text-color-primary {
  color: rgb(143, 184, 218);
}

/*텍스트 사이즈*/
.sub-heading {
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.1px;
  font-weight: 500;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.1px;
}

.body-text { 
  font-size: 20px;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: -0.1px;
}

.small-text {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: -0.1px;

}
#introduce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 40px 40px;
}

.title-set {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.paragraph {
  max-width: 70%;
}

/*버튼 디자인*/
.btn-primary {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgb(227, 206, 226);
  padding: 0 20px;
  color:  rgb(69, 57, 47);
  border-radius: 100px;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: rgb(187, 204, 219);
  font-weight: 500;
  transform: scale(1.1);
  transition: background-color 0.2s ease-in;
}

/*포트폴리오*/
.list {
  display: flex;
  align-self: flex-start;
  max-width: 1320px;
  margin: 0 auto;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0px 40px;
}

/*스크롤 삭제*/
.list::-webkit-scrollbar {
  display: none;
}

.list-item {
  display: flex;
  flex-shrink: 0;
  width: 320px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  padding: 12px;
}

.list-item2 {
  display: flex;
  flex-shrink: 0;
  width: 510px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  padding: 12px;
}

.list-item img {
  width: 160px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding-right: 12px;
}

.list-item2 img {
  width: 360px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding-right: 12px;
}

.project-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display:flex;
  justify-content: space-between;
  background-color: rgb(191, 221, 245);
  color: rgb(201, 180, 200);
  height: 68px;
  align-items: center;
  padding: 0 28px;

  bottom: 0;
  left: 0;
  right: 0;
}